strong {
  color: red;
}
em {
  color: red;
}

b {
  color: black;
}
strike {
  color: #C1C1C1;
  text-decoration: 0;
}

mjx-container {
    z-index: -1;
}

#contents {
  padding-top:10px;
}

.top {
  position: fixed;
  top: 0px;
  right: 0px;
}
.spoiler {
    outline-style: dotted;
    outline-color: grey;
    outline-width: thin;
    overflow: hidden;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    height: 5px;
}

h1, h2, h3, h4, div, p, ul, li {
	margin-top: 0pt;
	margin-bottom: 0pt;
	padding-top: 0pt;
	padding: 0pt;
	padding-bottom: 0pt;
	font-size: 11pt;
	color: black
}

#toc_frame {
  background-color: yellow;
  display: none;
  overflow:scroll;
  height:140px;
}

h1, h2, h3, h4 {
	font-weight: normal;
/*	padding-top: 5pt;
  padding-bottom: 5pt;*/
	margin-top: 5pt;
	margin-bottom: 5pt;

}

h1 {
	text-transform:uppercase;
	font-weight: bold;
}
h2 {
	text-transform:uppercase;
}
h4 {
  font-style: italic;
}

a:-webkit-any-link {
     color: blue;
}

/*
body {
	counter-reset: h1n;
}
h1 {
	counter-reset: h2n;
}
h2 {
	counter-reset: h3n;
}
h3 {
	counter-reset: h4n;
}

h1::before {
	counter-increment: h1n;
	content: counter(h1n) " ";
}

h2::before {
  counter-increment: h2n;
  content: counter(h1n)  "." counter(h2n) " ";
}

h3::before {
  counter-increment: h3n;
  content: counter(h1n)  "." counter(h2n) "." counter(h3n) " ";
}

h4::before {
  counter-increment: h4n;
  content: counter(h1n)  "." counter(h2n) "." counter(h3n) "." counter(h4n) " ";
}
*/



ul {
	margin-left: 20pt;
}
ol {
	margin-left: 20pt;
}

code {
  display: block;
  white-space: pre-wrap;
  background: aliceblue;
}


